.dFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

$primaryColor: #f55f4e;


.card{

    flex-direction: column;
    border-radius: 15px;
    position: relative;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
    @extend .dFlex;
    border: 1px solid $primaryColor;
    
    
   
    .card-img{
        
        margin-top: -5vw;
        
    

        img{
           
            width: 100%;
           

        }

    }
    .card-header{
        @extend .dFlex;
        flex-direction: column;
        color:$primaryColor;
        margin: 25px 0;
        h2{
            font-size: 18px;
        }
        p{
            font-size: 14px;
            text-align: center;
            margin: 8px 0;
            color: rgba($primaryColor,.7);
        }
        .price{
            font-size: 25px;
            background-color: $primaryColor;
            color: white;
        }
    }
   
}
.card:hover{
    background-color: #fefee2;
    transform: scale(1.1);
    cursor: pointer;
}
@media (max-width:767px){
    .card{
        width: 100px;
    }
    
}