.container {
  background-image: url("../../../public/images/BC.png");
  background-size: cover;
  max-height: calc(100vh - 100px);
  border-radius: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: #fff;

  @media screen and (max-width: 769px) {
    border-radius: 0.75em;
  }

  //! Text
  .text {
    flex: 1;
    align-self: center;
    margin: 10% 0 10% 10%;
    div {
      h1 {
        font-family: "Baloo 2", cursive;
        font-weight: 700;
        font-size: clamp(1rem, 10.5vw, 14rem);
        margin: 0;
        margin-left: -0.05em;
        line-height: 1;
      }
      h3 {
        font-family: "Cairo", sans-serif;
        font-weight: 400;
        font-size: clamp(0.5rem, 2.5vw, 3rem);
        margin: 0;
      }
      button {
        font-size: clamp(0.4rem, 1.05vw, 1.15rem);
        padding: 1em;
        height: auto;
        margin-top: 1vw;
      }
    }
  }

  //! Image
  .image {
    flex: 1;
    z-index: 10;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
